<p>Hey {{ name }},</p>
<p>You are receiving this email because your account e-mail has been changed.</p>

<p>If you did not changed please contact to us.</p>

<p>If you did, no further action is required.</p>