<p>Hey {{ name }},</p>
<p>You are receiving this email because your password has been changed.</p>

<p>If you did not changed please contact to us and change the password using the Reset Password functionality</p>

<p>If you did, no further action is required.</p>